@import '../styles/variables.scss';
@import url($font_noto-sans);

.list {

  margin-top: 32px; 
  padding: 0px 24px 15px 24px;

  .text {
    width: 75%;
    padding: 0px 24px 0px 24px;
    font-family: 'Noto Sans KR', sans-serif;  
    color: $theme-color-font-main;
    padding-top: 12px;

    .title {      
      font-weight: 600;
      font-size: 18px;      
      max-width: 92%;
      white-space: nowrap; /* 텍스트가 줄 바꿈하지 않도록 설정 */
      overflow: hidden; /* 넘치는 부분을 숨기기 */
      text-overflow: ellipsis; /* 넘치는 부분에 생략 부호(...) 추가 */
      // background-color: aqua;
    }

    .title:hover {
      font-weight: 800;
      cursor: pointer;
    }

    .contents {      
      font-weight: 400;
      font-size: 16px;
      max-width: 92%;
      
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* 원하는 줄 수를 지정 */
      -webkit-box-orient: vertical;
    }

    .contents:hover {
      color:#999999;
      cursor: pointer;
    }

    .date {            
      font-family: 'Nanum Gothic', sans-serif;
      font-weight: 400;
      font-size: 12px;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-top: 8px;
      color: $theme-color-font-sub
      // background-color: aquamarine;
    }
  }

  .thumbnail-img {
    width: 20%;
    max-width: 240px;
    min-width: 180px;
    overflow: hidden;
    margin-bottom: 12px;
    border-radius: 10px;
    cursor: pointer;
  }

  .row {
    margin-top: 24px
  }

  .layout {
    display: flex;
  }
  
  .count {
    height: 24px;
    display: flex;
    justify-content: flex-end;
    font-family: 'Noto Sans KR', sans-serif;    
    font-weight: 400;
    color: #333333;
  }
  
  .line {
    border: 0; /* 기존 테두리 속성 초기화 */
    border-top: 1px solid #eeeeee;
  }  
}


.article {

  margin-top: 32px; 
  margin-bottom: 48px;
  padding: 0px 24px 15px 24px;
  font-family: 'Noto Sans KR', sans-serif;  
  color: $theme-color-font-main;
  padding-top: 12px;

  .title {      
    font-weight: 600;
    font-size: 24px;      
    white-space: nowrap; /* 텍스트가 줄 바꿈하지 않도록 설정 */
    overflow: hidden; /* 넘치는 부분을 숨기기 */
    text-overflow: ellipsis; /* 넘치는 부분에 생략 부호(...) 추가 */
    text-align: center;
  }

  .text {      
    font-weight: 400;
    font-size: 16px;      
    overflow: hidden;
    overflow-wrap: break-word;
    margin-top: 12px;
    margin-bottom: 24px;
  }

  .image-box {
    text-align: center;
    .attr {
      width: 80%;
      max-width: 600px;
      min-width: 240px;
      
    }
  }

  .author, .date {            
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    font-size: 12px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 8px;
    color: $theme-color-font-sub;
    text-align: right;
    margin-bottom:24px;
    // background-color: aquamarine;
  }
  
  .line {
    border: 0; /* 기존 테두리 속성 초기화 */
    border-top: 1px solid #eeeeee;
  }  
}
